@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   
   /* SideBar */

   .divider {
      @apply bg-gray-200 dark:bg-gray-800
      border border-gray-200 dark:border-gray-800 
      rounded-full mx-2;
   }
   .side-icon {
      @apply relative flex items-center justify-center 
      h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
      bg-gray-800 text-green-500
      hover:bg-green-600 hover:text-white
      rounded-3xl hover:rounded-xl
      transition-all duration-300 ease-linear;
   }
   .tooltip {
      @apply absolute w-auto p-2 m-2 min-w-max left-14
      rounded-md shadow-md
      text-white bg-gray-900
      text-xs font-bold 
      transition-all duration-100 scale-0 origin-left;  /* scale 0 */
   }

   /* ChannelSection */
   
   .channel-section {
      @apply w-80 h-auto m-0 ml-16 bg-gray-200 dark:bg-gray-800 shadow-lg overflow-hidden;
   }
   .channel-content {
      @apply flex flex-col items-center justify-start p-1 m-0;
   }
   .dropdown {
      @apply m-0 w-full px-2 pb-2 transition duration-300 ease-in-out;
   }
   .dropdown-header {
      @apply flex flex-row items-center justify-evenly mx-0 text-gray-500 cursor-pointer;
   }
   .dropdown-header-text {
      @apply text-gray-500  text-opacity-90 text-lg font-semibold cursor-default;
   }
   .dropdown-header-text-selected {
      @apply text-blue-500 text-opacity-90 text-lg font-bold;
   }
   .dropdown-selection {
      @apply flex flex-row items-center justify-evenly mt-1 mr-auto ml-2
      transition duration-300 ease-in-out cursor-pointer;
   }
   .dropdown-selection-text {
      @apply text-gray-500 font-semibold tracking-wide mr-auto 
      transition duration-300 ease-in-out 
      hover:text-pink-500 dark:hover:text-gray-500 cursor-pointer;
   }
}